@import url("../../App.css");

#characters {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.character-icon-button {
    border: none;
    width: 200px;
    height: 400px;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.character-icon-button img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.2s;
}

.character-icon-button:hover img,
.character-icon-button:focus-within img {
    transform: scale(1.1);
    transition: transform 0.2s;
}

#character-icons {
    display: flex;
    flex-direction: row;
}

#character-info-section {
    width: 100%;
    overflow: hidden;
    transition: height 0.3s ease;
    background-color: #0c4383;
}

#character-info-wrapper {
    width: 800px;
    padding: 4em;
    margin: 0 auto;
}

#characters h2 {
    text-shadow: none;
    color: var(--primary-color);
}

#characters p {
    font-size: 1.2rem;
}

.character-info-portrait {
    width: 200px;
    height: 250px;
    object-fit: cover;
    display: inline;
    float: left;
    border-radius: 2em;
    margin-right: 2em;
    margin-bottom: 1em;
}