#character-icons {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
  gap: 2rem;
  justify-items: center;
}

.character-icon-button {
  --card-width: clamp(10rem, 22vw, 12.5rem);
  --card-height: clamp(18rem, 40vw, 25rem);

  border: none;
  border-radius: 1rem;
  width: var(--card-width);
  height: var(--card-height);
  padding: 0;
  margin: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 20px white;
  cursor: pointer;
  position: relative;
}

.character-icon-button strong {
  position: absolute;
  font-size: 2rem;
  color: white;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.character-icon-button:hover strong,
.character-icon-button:focus-within strong {
  opacity: 1;
  text-shadow:
    0 0 5px black,
    0 0 10px black;
}

.character-icon-button img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.2s;
}

.character-icon-button:hover img,
.character-icon-button:focus-within img {
  transform: scale(1.1);
  transition: transform 0.2s;
}

#character-info-section {
  width: 100%;
  transition: height 0.3s ease;
}

#character-info-wrapper {
  width: 90%;
  padding: clamp(1.5rem, 5vw, 4rem);
  margin: 0 auto;
  font-size: 1.2rem;
  max-width: 100%;
}

.character-info-portrait {
  width: clamp(10rem, 40vw, 12.5rem);
  aspect-ratio: 4 / 5;

  object-fit: cover;
  display: flex;
  float: left;
  border-radius: 2em;
  margin-right: 2em;
  margin-bottom: 1em;
}

.reference-sheet {
  width: 100%;
  height: 100%;
}
