.bandcamp-player {
    border-radius: 1em;
    border: none;
    height: 20rem;
    width: 20rem;
    float:left;
    margin-right: 2em;
    margin-bottom: 2em;
}

#music-page {
    margin: 4vh auto;
    background-color: var(--background-color);
    box-shadow: 0 0 10px #fff, 0 0 50px var(--primary-color);
    border-radius: 2rem;
    padding: 4rem 4rem 0 4rem;
    width: fit-content;
    overflow: hidden;
}

#song-categories {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2em;
}

.song-category-button {
    border: none;
    border-radius: 1rem;
    height: 20rem;
    width: 20rem;
    color: white;
    font-weight: bolder;
    font-size: 2rem;
    text-shadow: 0 0 5px black,
     0 0 10px black;
    background-size: 100%;
    background-color: black;
    background-blend-mode: multiply;
    background-position: center;
    transition: background-size 0.2s;
}


.song-category-button:hover {
    background-size: 110%;
    transition: background-size 0.2s;
}

.music-item-listing {
    border: none;
    border-radius: 1rem;
    width: 25rem;
    height: 25rem;
    background-position: center;
    background-size: 100%;
    background-color: black;
    background-blend-mode: multiply;
    transition: background-size 0.2s;
    font-size: 1.5rem;
    font-weight: bold;
    color:transparent;
}

.music-item-listing:hover {
    background-size: 110%;
    transition: background-size 0.2s;
    color:white;
    text-shadow: 0 0 5px black,
     0 0 10px black;
}

.music-listings {
    background: linear-gradient(to top, var(--primary-color) 0%, var(--background-color) 100%);
    width: 100%;
    padding: 4em;
}

.music-listings-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem;
    margin: auto;
    max-width: fit-content;
}

.music-listing {
    color: var(--primary-color);
    width: 50vw;
    transition: height 0.5s;
    overflow: hidden;
    grid-column: 1 / -1;
    background-color: var(--background-color);
    margin: 0 auto;
    padding: 4em;
    border-radius: 1rem;
}