/*#region Root*/
:root {
  --primary-color: aquamarine;
  --background-color: #111;
}
/*#endregion*/

/*#region Base Styles*/
body {
  background-color: var(--background-color);
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin: 0;
}

button:hover {
  cursor: pointer;
}

a {
  color: var(--primary-color);
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

a:visited {
  color:rgb(127, 208, 255);
}

.page {
  background-color: var(--background-color);
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-height: 100vh;
  width: 100%;
}
/*#endregion*/

/*#region Typography */
h1 {
  font-size: 4rem;
  color: white;
  font-weight: 700;
  text-shadow:
    0 0 10px aquamarine,
    0 0 60px aquamarine;
  padding: 0;
  margin: 0;
}

h2 {
  font-size: 4rem;
  color: white;
  font-weight: 700;
  text-shadow:
    0 0 10px aquamarine,
    0 0 60px aquamarine;
  padding: 0;
  margin: 0;
}

h3 {
  font-size: 2rem;
}

/*#endregion*/

header {
  z-index: 10;
}


.announcement-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 4vh;
  padding: 4vh 4vw;
  margin: 0;
}

.announcement-bar img {
  max-height: 100%;
}

.announcement-bar-links {
  display: flex;
  flex-direction: row;
  gap: 3rem;
}

.logo {
  height:100%;
}

main {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.marquee {
  color: white;
  font-size: 1.5rem;
  -webkit-user-select: none;
  user-select: none;
}

.marquee p {
  margin: 0;
  padding-left: 2rem;
}

footer {
  color: white;
  padding:5em;

  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  width: 50%;
  padding-left: 20%;

  font-size: 1.2rem;
}

footer h2 {
  text-shadow: none;
  font-size: 3rem;
  margin: 0;
  padding: 0;
}

footer div {
  display: flex;
  padding: 0;
  margin: 0;
  flex-direction: column;
  grid-column: 3;
}

footer div h3 {
  padding: 0;
  margin: 0;
  font-size: 2rem;
}

.join-the-newsletter-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.join-the-newsletter-section strong {
  font-size: 2rem;
  color: var(--primary-color);
  font-weight: bold;
}

.mailing-list-input-field {
  display: flex;
  flex-direction: row;
  font-size: 2rem;
  align-items: stretch;
  gap: 1em;
}

.mailing-list-input-field input {
  display: block;

  font-size: 1.2rem;
  background-color: var(--background-color);
  color: white;
  border: 2px solid rgba(1, 1, 1, 1, 0.75);
  border-radius: 0.75em;
  padding: 0.5em 1em;
  margin: 0;
  width: 20em;
}

.mailing-list-input-field button {
  font-size: 1.2rem;
  font-weight: bold;
  border: none;
  border-radius: 7em;
  padding: 0.5em 2em;
  margin: 0;
  background-color: var(--primary-color);
  transition: background-color 0.2s;
}

.mailing-list-input-field button:hover {
  background-color: rgb(97, 196, 163);
  transition: background-color 0.2s;
}
