.bandcamp-player {
  border-radius: 1em;
  border: none;
  width: min(100%, 20rem);
  aspect-ratio: 1 / 1;
  float: left;
  margin-right: 2em;
  margin-bottom: 2em;
}

#song-categories {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
  gap: 2em;
  justify-items: center;
}

.song-category-button {
  aspect-ratio: 1 / 1;
  border: none;
  border-radius: 1rem;
  width: 100%;
  color: white;
  font-weight: bolder;
  font-size: 2rem;
  text-shadow:
    0 0 5px black,
    0 0 10px black;
  background-size: 100%;
  background-color: black;
  background-blend-mode: multiply;
  background-position: center;
  transition: background-size 0.2s;
}

.song-category-button:hover {
  background-size: 110%;
  transition: background-size 0.2s;
}

.music-item-listing {
  aspect-ratio: 1 / 1;
  border: none;
  border-radius: 1rem;
  width: 100%;
  background-position: center;
  background-size: 100%;
  background-color: black;
  background-blend-mode: multiply;
  transition: background-size 0.2s;
  font-size: 1.5rem;
  font-weight: bold;
  color: transparent;
}

.music-item-listing:hover {
  background-size: 110%;
  transition: background-size 0.2s;
  color: white;
  text-shadow:
    0 0 5px black,
    0 0 10px black;
}

.music-listings {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  justify-content: center;
  justify-items: re;
  gap: 2rem;
  margin-top: 4rem;
  padding: 0;
}

.music-listing {
  color: var(--primary-color);
  max-width: 100%;
  transition: height 0.5s;
  overflow: hidden;
  grid-column: 1 / -1;
  background-color: var(--background-color);
  margin: 0;
  padding: 4rem;
  border-radius: 0;
}
