h2 {
  text-shadow: none;
  color: var(--primary-color);
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.background-image {
  width: 100%;
  height: 5rem;
  object-fit: cover;
  position: relative;
}

.homepage-section {
  overflow: hidden;
  position: relative;
}

#news-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-shadow:
    0 0 10px var(--background-color),
    0 0 60px var(--background-color);
  padding: 0;
}

#news-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 8em;
  width: min(90%, 60rem);
  justify-items: center;
  padding: 6rem;
  background-color: var(--background-color);
}

#news-grid img {
  grid-row: span 2;
  width: 600px;
}

#y2nes-social-links {
  width: 100%;
  transition: background-size 0.5s;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#y2nes-music-links {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.links-container {
  width: 100%;
  display: grid;
  grid-gap: 0.75rem;
  text-align: center;
  padding: 4em 0;
  background-color: var(--background-color);
}

.link-button {
  color: var(--background-color);
  background-color: aquamarine;
  font-size: 1.2rem;
  border: 0;
  border-radius: 100rem;
  padding: 0.25em 1em;
  text-decoration: none;
  transition: background-color 0.2s;
}

.link-button:visited {
  color: var(--background-color);
}

.link-button:hover,
.link-button:focus {
  background-color: #62cca7;
  cursor: pointer;
  transition: background-color 0.2s;
}

.links-container h2,
.links-container a {
  padding: 1rem;
  margin: 0 3rem;
}

@media (min-width: 1024px) {
  #news-section {
    background: linear-gradient(
      to right,
      var(--background-color) 0%,
      rgba(0, 0, 0, 0) 25%,
      rgba(0, 0, 0, 0) 75%,
      var(--background-color) 100%
    );
  }

  #news-grid {
    margin: 12rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  #y2nes-social-links {
    background: linear-gradient(
      to right,
      var(--background-color) 0%,
      rgba(0, 0, 0, 0) 25%,
      rgba(0, 0, 0, 0) 50%,
      var(--background-color) 75%,
      var(--background-color) 100%
    );
  }

  #y2nes-social-links .links-container {
    margin-left: max(4rem, calc(50% - 20rem));
  }

  #y2nes-music-links {
    background: linear-gradient(
      to right,
      var(--background-color) 0%,
      var(--background-color) 25%,
      rgba(0, 0, 0, 0) 75%,
      rgba(0, 0, 0, 0) 90%,
      var(--background-color) 100%
    );
  }

  #y2nes-music-links .links-container {
    margin-right: max(4rem, calc(50% - 20rem));
  }

  .background-image {
    height: 100%;
    object-fit: cover;
    z-index: -1;
    position: absolute;
  }

  .homepage-section img {
    transform: scale(1) 0;
    transition: transform 0.5s;
  }

  .homepage-section:hover img,
  .homepage-section:focus-within img {
    transform: scale(1.05);
    transition: transform 0.5s;
  }

  .links-container {
    width: min(90%, 40rem);
    margin: 4rem 0;
  }

  .links-container h2,
  .links-container a {
    padding: 0.5rem;
  }

  .floating-card-on-wide {
    border-radius: 1rem;
    box-shadow: 5px 5px 20px var(--primary-color);
  }
}
