/*#region Root*/
:root {
  --primary-color: #7fffd4;
  --background-color: #111;
  --theme-color: black;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  padding: 0;
  margin: 0;
}
/*#endregion*/

/*#region Base Styles*/
.site-background {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -1;
  background-color: var(--background-color);
}

body {
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin: 0;
}

button:hover {
  cursor: pointer;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: rgb(127, 208, 255);
}

.page {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-height: 100vh;
  width: 100%;
  z-index: 5;
}
/*#endregion*/

/*#region Typography */
h1 {
  font-size: 4rem;
  color: white;
  font-weight: 700;
  text-shadow:
    0 0 10px var(--primary-color),
    0 0 60px var(--primary-color);
  padding: 0;
  margin: 0;
}

h2 {
  font-size: 4rem;
  color: white;
  font-weight: 700;
  text-shadow:
    0 0 10px var(--primary-color),
    0 0 60px var(--primary-color);
  padding: 0;
  margin: 0;
}

h3 {
  font-size: 2rem;
}

/*#endregion*/

header {
  background-color: var(--background-color);
  padding: 2vh 4vw;
  margin-bottom: 4vh;
}

.announcement-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

.announcement-bar img {
  max-height: 100%;
}

.announcement-bar-links {
  display: flex;
  flex-direction: row;
  gap: 3rem;
}

.logo {
  height: 100%;
}

main {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.marquee {
  color: white;
  background-color: var(--background-color);
  font-size: 1.5rem;
  -webkit-user-select: none;
  user-select: none;
}

.marquee p {
  margin: 0;
  padding-left: 2rem;
}

footer {
  background-color: var(--background-color);
  color: white;
  padding: 3em 0;
  display: grid;
  grid-template-columns: 10vw 20vw 10vw;
  width: 100%;
  font-size: 1.2rem;
  margin-top: 4vh;
  justify-content: center;
}

footer h2 {
  text-shadow: none;
  font-size: 3rem;
  margin: 0;
  padding: 0;
}

footer div {
  display: flex;
  padding: 0;
  margin: 0;
  flex-direction: column;
  grid-column: 3;
}

footer div h3 {
  padding: 0;
  margin: 0;
  font-size: 2rem;
}

.join-the-newsletter-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.join-the-newsletter-section strong {
  font-size: 2rem;
  color: var(--primary-color);
  font-weight: bold;
}

.mailing-list-input-field {
  display: flex;
  flex-direction: row;
  font-size: 2rem;
  align-items: stretch;
  gap: 1em;
}

.mailing-list-input-field input {
  display: block;

  font-size: 1.2rem;
  background-color: var(--background-color);
  color: white;
  border: 2px solid rgba(255, 255, 255, 0.75);
  border-radius: 0.75em;
  padding: 0.5em 1em;
  margin: 0;
  width: 20em;
}

.mailing-list-input-field button {
  font-size: 1.2rem;
  font-weight: bold;
  border: none;
  border-radius: 7em;
  padding: 0.5em 2em;
  margin: 0;
  background-color: var(--primary-color);
  transition: background-color 0.2s;
}

.mailing-list-input-field button:hover {
  background-color: rgb(97, 196, 163);
  transition: background-color 0.2s;
}
