#about-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: fit-content;
  margin: 4vh auto;
  background-color: var(--background-color);
  box-shadow:
    0 0 10px white,
    0 0 50px var(--primary-color);
  border-radius: 2rem;
  padding: 4rem;

  font-size: 1.2rem;
  max-width: 60vw;
}
