#store {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

#store-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4vh;
  background-color: var(--background-color);
  box-shadow:
    0 0 10px #fff,
    0 0 50px var(--primary-color);
  border-radius: 2rem;
  padding: 4rem;
}

#store-wrapper-main-div {
  margin-top: 4em;
  margin-bottom: 8em;
}

#store-wrapper h2 {
  color: var(--primary-color);
  font-size: 2rem;
  font-weight: bold;
  text-shadow: none;
}
