
#store {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

#store-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#store-wrapper-main-div {
  margin-top: 4em;
  margin-bottom: 8em;
}

#store-wrapper h2 {
  color: var(--primary-color);
  font-size: 2rem;
  font-weight: bold;
  text-shadow: none;
}